@import '../../styles/custom-media.scss';

.about {
  padding: 0 0 var(--footer-height);
  display: flex;
  flex-direction: column;
  position: relative;
}
.translate {
  align-self: flex-end;
  margin: 2rem 3rem;
  color: #000000;
}
.section1 {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 3rem;
}

.blurb {
  position: relative;
  background-color: var(--lightest-gray);
  width: calc(45% - 4rem);
  margin: 3rem 2rem;
  padding: 4rem;
  z-index: 1;
  @media screen and (max-width: $breakpoint-medium) {
    width: 60%;
  }
  @media screen and (min-width: $breakpoint-extra-large) {
    width: 45%;
    margin-left: 10vw;
  }

  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      padding: 1rem;
    }
  }
}
.blurb > ul {
  list-style: square outside;
}
.mainPic {
  width: 70%;
  max-width: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.section2 {
  width: 100%;
  background-color: var(--lightest-gray);
  text-align: 'center';
  padding: 5rem 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $breakpoint-mobile) {
    padding: 2rem 10%;
  }
}
.section3 {
  max-width: 100%;
  margin: 3rem 2rem;
}
.blurbs {
  display: flex;
  justify-content: space-between;
}
.blurbs > div {
  max-width: 28%;
}
@media (pointer: coarse) {
  @media screen and (max-width: $breakpoint-mobile) {
    .section1 {
      display: flex;
      flex-direction: column-reverse;
    }
    .blurb,
    .mainPic,
    .blurbs > div {
      position: relative;
      width: 90%;
      max-width: 90%;
      margin: 5%;
      background-color: transparent;
    }
    .blurbs {
      flex-direction: column;
    }
  }
}
