.about {
  padding: var(--nav-height) 3rem var(--footer-height);
}
.section1 {
  position: relative;
  width: 100%;
  height: auto;
}
.mainPic {
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.inset {
  z-index: 2;
  padding: 3rem 0;
}
.insetBlurb {
  position: absolute;
  left: 0;
  top: 15;
  background-color: var(--lightest-gray);
  width: 45%;
  padding: 3rem 2rem;
  z-index: 2;
}
