@import '../../styles/custom-media.scss';
@import '../../styles/custom-properties.scss';

.board {
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.translate {
  align-self: flex-end;
  margin: 2rem 3rem;
  color: #000000;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-large) {
      align-self: center;
      margin: 2rem 0;
    }
  }
}
.person {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $breakpoint-medium) {
    padding: 1.5rem;
  }
}
.person h3 {
  align-self: flex-start;
  @media screen and (max-width: $breakpoint-medium) {
    width: 100%;
    text-align: center;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      width: 100%;
      text-align: center;
    }
  }
}

.imageBio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column !important;
    align-items: center;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      flex-direction: column !important;
      align-items: center;
    }
  }
}

.imageWrapper {
  width: 30%;
  height: 500px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center center;

  @media screen and (max-width: $breakpoint-medium) {
    width: 90%;
    height: 250px;
    background-size: contain;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      width: 90%;
      height: 250px;
      background-size: contain;
    }
  }
}

.bio {
  max-width: 65%;
  font-size: larger;

  @media screen and (max-width: $breakpoint-medium) {
    max-width: 100%;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      max-width: 100%;
    }
  }
}
