@import '../../styles//custom-media.scss';
@import '../../styles/custom-properties.scss';

.services {
  padding: 0 0 var(--footer-height) 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.translate {
  align-self: flex-end;
  margin: 2rem 3rem;
  color: #000000;
}

.services > h1 {
  align-self: center;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      flex-direction: column;
    }
  }
}

.singleColumn {
  display: flex;
  flex-direction: column;
  max-width: 29%;
  align-items: center;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      max-width: 90%;
      margin: 1rem 5% !important;
    }
  }
}
.singleColumn > div {
  width: 100%;
  height: 20rem;
}
.imageWrapper1 {
  background: url('../../assets/01.jpg') no-repeat center;
  background-size: 120% auto;
}
.imageWrapper2 {
  background: #ffffff url('../../assets/referralHands.jpg') no-repeat center;
  background-size: 110% auto;
}
.imageWrapper3 {
  background: #ffffff url('../../assets/handsjpg.jpg') no-repeat center;
  background-size: 100% auto;
}
.singleColumn > h3,
.singleColumn > h4,
.singleColumn > p {
  text-align: center;
}

.contactButton {
  @include darkButton;
  text-align: center;
  width: 12rem;
  align-self: center;
  margin: 1rem;
}
