@import '../../styles/custom-media.scss';
@import '../../styles/custom-properties.scss';

.contact {
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--lightest-gray);
}

.translate {
  align-self: flex-end;
  margin: 2rem 3rem;
  color: #000000;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-large) {
      align-self: center;
      margin: 2rem 0;
    }
  }
}

.inputs {
  width: 100%;
  margin-bottom: 1rem;
}
.contactButton {
  @include darkButton;
}
