@import '../../styles/custom-media.scss';


.communityEvents {
  padding: var(--nav-height) 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.translate {
  align-self: flex-end;
  margin: 2rem 3rem;
  color: #000000;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-large) {
      align-self: center;
      margin: 2rem 0;
    }
  }
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.image {
  max-height: calc(100vh - calc(var(--nav-height) + 4rem));
  max-width: calc(98vw);
  border-radius: 3%;
}