@import '../styles/custom-properties.scss';
@import '../styles/custom-media.scss';

.modalButton {
  background-color: transparent;
  border: none;
  color: var(--linq-green);
  display: inherit;
  margin: 0;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--linq-green);
    border: inherit;
    box-shadow: inherit;
    color: var(--white);
  }
}
.mImage {
  float: right;
  height: 5rem;
  width: auto;
}
.mFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.footerNotes {
  line-height: 1.2;
}
