@import '../styles/custom-media.scss';

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: var(--footer-height);
  padding: var(--vertical-footer-padding) 0;
  text-align: center;
  background-color: var(--lightest-gray);
}

.logoText {
  width: 15%;
  margin: 0 42.5%;
  @media screen and (max-width: $breakpoint-large) {
    width: 30%;
    margin: 0 35%;
  }
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      width: 30%;
      margin: 0 35%;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 35%;
  @media (pointer: coarse) {
    @media screen and (max-width: $breakpoint-extra-large) {
      width: 70%;
      margin: 0 15%;
    }
  }
}
.icon {
  color: #000000;
  font-size: calc(20px + 1vw);
  color: var(--linq-green);
  &:hover {
    color: var(--black);
  }
}
.contact {
  color: #000000;
  &:hover {
    color: var(--linq-green);
  }
}
