@import './styles/custom-properties.scss';
@import './styles/stylesheet.scss';
// @font-face {
//   font-family: 'cooper_hewittbook';
//   src: url('./fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
//     url('./fonts/cooperhewitt-book-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
html,
body {
  font-family: cooper_hewittbook;
  line-height: 2em;
}
h1 {
  font-size: 60px;
  margin-bottom: 2rem;
}

h4,
h5,
h6 {
  line-height: 2em;
}
h1,
h2,
h3,
strong {
  font-family: cooper_hewittbook_bold;
}
em {
  font-family: cooper_hewittbook_italic;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
}
